body {
	font-family: 'Roboto', sans-serif;
	background-color: #F8F8F8;
}

main {
	margin-left: 200px;
}

.hidden {
	display: none;
}

.show {
	display: block !important;
}

.title,
.closing-time {
	text-align: center;
}

/* NAVIGATION */

.side-navigation {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	overflow-x: hidden;
	padding-top: 60px;
}

.side-navigation a {
	color: black;
	padding-left: 40px;
	padding-top: 5px;
	text-decoration: none;
	font-size: 19px;
	display: block;
}

.nav-links {
	margin-top: 50px;
}

/* CHARTS */

canvas#myChart.chartjs-render-monitor,
canvas#myChart2.chartjs-render-monitor {
	height: 70% !important;
}

canvas#myChart3.chartjs-render-monitor {
	height: 50% !important;
}

/* BEER SECTION */

.beer-info {
	/* padding-top: 10px;
	transition: all 0.5s ease-out; */
}

.add-padding {
	/* padding-top: 20px;
	z-index: 1;
	position: absolute;
	background-color: white; */
}

.bartenders-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.beer-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.beer-info {
	margin-left: 50px;
}

.extra-beer-info {
	padding: 10px;
	position: fixed;
	z-index: 1;
	left: 264px;
	top: 100px;
	width: 70%;
	height: 70%;
	background-color: white;
	border: 1px solid black;
}

button.view-more {
	text-transform: uppercase;
	background: #00e0cb;
	padding: 15px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	position: absolute;
	margin-left: 30px;
	margin-top: 20px;
}

button.view-more:hover {
	background: #84fab0;
	letter-spacing: 1px;
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}

img.beer-label {
	width: 40%;
}

div#beer-types {
	border: solid 0.5px #00e0cb;
	margin: 5px;
	height: 250px;
	padding-top: 20px;
}

/* ORDERS */

#orders .orders-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* DIVS FOR EACH SECTION */

div#storage,
#bartenders,
#queue,
#orders,
#taps,
#beer-levels,
#beers {
	margin: 10px;
	padding: 10px 20px 20px 20px;
	border: solid 1px #84fab0;
	background: white;
	transition: all 0.5s ease-out;
}

#storage:hover,
#bartenders:hover,
#queue:hover,
#orders:hover,
#taps:hover,
#beer-levels:hover,
#beers:hover {
	border: solid 2px #00e0cb;
}

/* button */